---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <div>
    <ul class='mt-20 list-disc'>
      <li class='text-center'>
        <a href='/advice-generator-app' class='hover:underline'
          >advice generator</a
        >
      </li>
    </ul>
  </div>
</Layout>
