---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <script>
    const currentHostName = window.location.hostname
    const currentRoute = window.location.pathname
    const customDomaineName = 'artisanale.ma'

    if (!currentHostName.includes(customDomaineName))
      window.location.href = 'https://' + customDomaineName + currentRoute
  </script>
</html>
