---
import Layout from '../../layouts/space-tourism-multi-page-website.astro'
---

<Layout>
  <h1 class='text-center text-4xl text-white'>hello space</h1>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap');

  body {
    background-image: url('./space-tourism-multi-page-website/home/background-home-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    /* TODO change bg on breakpoint */
  }
</style>
